service: reddit-aws-xpost-bot-asmr

custom: 
  secrets: ${file(secrets.yml)}

provider:
  name: aws
  runtime: nodejs8.10
  environment:
    CLIENT_ID: ${self:custom.secrets.CLIENT_ID}
    CLIENT_SECRET: ${self:custom.secrets.CLIENT_SECRET}
    REDDIT_USER: ${self:custom.secrets.REDDIT_USER}
    REDDIT_PASS: ${self:custom.secrets.REDDIT_PASS}
    MAIN_SUBREDDIT: ${self:custom.secrets.MAIN_SUBREDDIT}
    XPOST_SUBREDDIT: ${self:custom.secrets.XPOST_SUBREDDIT}
    FILTER_FLAIR: ${self:custom.secrets.FILTER_FLAIR}

functions:
  bot:
    handler: handler.botRun
    events:
      - schedule: cron(0 0/3 * * ? *)
